<div class="profile__wrapper">
    <aside class="return-wrapper">
        <div class="return-wrapper__block">
            <a class="return-link" href="/messenger">
                <img src="../../static/back.svg" alt="кнопка назад">
            </a>
        </div>
    </aside>

    <div class="profile__content">
        <div class="profile__content__avatar">
            <form class="form-avatar" action="/upload-avatar" method="POST" enctype="multipart/form-data">
                <label class="profile__content__avatar__label" for="avatar">
                    <img alt="Аватар пользователя"
                         src="https://ya-praktikum.tech/api/v2/resources{{user.avatar}}?t={{timestamp}}"
                    class="profile__content__avatar__image"/>
                    <span class="overlay">Поменять <br/>аватар</span>
                    <input id="avatar" type="file" name="avatar" class="profile__content__avatar__upload"
                           accept="image/*" hidden/>
                </label>
            </form>
        </div>

        <!--смена пароля-->
        {{#unless password}}
            <form action="" method="POST" class="form-data">
                <ul class="profile__content__details password__actions">
                    <li class="profile__content__item border-style-bottom">
                        <p>Старый пароль</p>
                        <label>
                            <input type="password" class="profile__content__form" name="oldPassword"/>
                        </label>
                    </li>
                    <li class="profile__content__item border-style-bottom">
                        <p>Новый пароль</p>
                        <label>
                            <input type="password" class="profile__content__form" name="newPassword"/>
                        </label>
                    </li>
                    <li class="profile__content__item border-style-bottom">
                        <p>Повторите новый пароль</p>
                        <label>
                            <input type="password" class="profile__content__form" name="retryPassword"/>
                        </label>
                    </li>
                </ul>
                {{> button type="submit" buttonText=buttonText }}
            </form>

        {{else}}
            <!--редактирование профиля-->
            <form action="/update-profile" method="POST" class="form-data">
                <h2 class="profile__content__name">{{user.first_name}}</h2>
                <ul class="profile__content__details">
                    <li class="profile__content__item border-style-bottom">
                        <p>Почта</p>
                        <label>
                            <input type="email" name="email" class="profile__content__form" value="{{user.email}}"
                                   {{#unless login}}disabled{{/unless}} />
                        </label>
                    </li>
                    <li class="profile__content__item border-style-bottom">
                        <p>Логин</p>
                        <label>
                            <input type="text" name="login" class="profile__content__form" value="{{user.login}}"
                                   {{#unless login}}disabled{{/unless}} />
                        </label>
                    </li>
                    <li class="profile__content__item border-style-bottom">
                        <p>Имя</p>
                        <label>
                            <input type="text" name="first_name" class="profile__content__form"
                                   value="{{user.first_name}}" {{#unless login}}disabled{{/unless}} />
                        </label>
                    </li>
                    <li class="profile__content__item border-style-bottom">
                        <p>Фамилия</p>
                        <label>
                            <input type="text" name="second_name" class="profile__content__form"
                                   value="{{user.second_name}}" {{#unless login}}disabled{{/unless}} />
                        </label>
                    </li>
                    <li class="profile__content__item border-style-bottom">
                        <p>Имя в чате</p>
                        <label>
                            <input type="text" name="display_name" class="profile__content__form"
                                   value="{{user.display_name}}" {{#unless login}}disabled{{/unless}} />
                        </label>
                    </li>
                    <li class="profile__content__item">
                        <p>Телефон</p>
                        <label>
                            <input type="tel" name="phone" class="profile__content__form" value="{{user.phone}}"
                                   {{#unless login}}disabled{{/unless}} />
                        </label>
                    </li>
                </ul>

                <div class="profile__content__actions">
                    {{#if login}}
                        {{> button type="submit" buttonText=buttonText }}
                    {{else}}
                        <a href="#" class="action-link action-link__login border-style-bottom">Изменить данные</a>
                        <a href="#" class="action-link action-link__password border-style-bottom">Изменить пароль</a>
                        <a href="/" class="action-link logout-link">Выйти</a>
                    {{/if}}
                </div>
            </form>
        {{/unless}}
    </div>
</div>
