<ul class="aside-list">
    {{#each usersChat}}
        <li class="aside-list__item" tabindex="0" aria-label="Чат с {{userName}}, последнее сообщение {{message}}" data-user-id="{{id}}">
            <figure class="aside-list__avatar">
                <!--                <img class="aside-list__avatar-img" src="{{avatar}}" />-->
            </figure>
            <div class="aside-list__info">
                <div class="aside-list__nameAndDate">
                    <h3 class="aside-list__title">{{userName}}</h3>
                    <p class="aside-list__date">{{date}}</p>
                </div>
                <p>
                    {{#if you}}
                        <span class="aside-list__label">Вы: </span> {{message}}
                    {{else}}
                        {{message}}
                    {{/if}}
                </p>
                {{#if unread}}
                    <div class="aside-list__unread">{{quantityUnread}}</div>
                {{/if}}
            </div>
        </li>
    {{/each}}
</ul>
